@model List<Jokify.Services.Models.Categories.CategoryIdAndNameViewModel>

<div class="alert alert-success" role="alert">
    Category created successfully!
</div>
<br/>
<div class="container">
    <a class="btn btn-primary" asp-action="Create" asp-controller="Categories" asp-area="Administration">Create Category</a>
</div>
